.bg-logios {
	background-color: rgb(var(--logios-color));
}

.bg-cvbuilder {
	background-color: rgb(var(--cvbuilder-color));
}

.bg-streadio {
	background-color: rgb(var(--streadio-color));
}

.bg-logios-50 {
	background-color: rgba(var(--logios-color), 0.5);
}

.bg-cvbuilder-50 {
	background-color: rgba(var(--cvbuilder-color), 0.5);
}

.bg-streadio-50 {
	background-color: rgba(var(--streadio-color), 0.5);
}

.bg-minibird-50 {
	background-color: rgba(var(--minibird-color), 0.5);
}

.bg-find-my-subtitles-50 {
	background-color: rgba(var(--find-my-subtitles-color), 0.5);
}

.bg-winnotes-50 {
	background-color: rgba(var(--winnotes-color), 0.5);
}

#logios_content > section:nth-child(odd) > .row {
	background-color: rgba(var(--logios-color), 0.5);
}

#cvbuilder_content > section:nth-child(odd) > .row {
	background-color: rgba(var(--cvbuilder-color), 0.5);
}

#minibird_content > section:nth-child(odd) > .row {
	background-color: rgba(var(--minibird-color), 0.5);
}

#streadio_content > section:nth-child(odd) > .row {
	background-color: rgba(var(--streadio-color), 0.5);
}

#find_my_subtitles_content > section:nth-child(odd) > .row {
	background-color: rgba(var(--find-my-subtitles-color), 0.5);
}

#winnotes_content > section:nth-child(odd) > .row {
	background-color: rgba(var(--winnotes-color), 0.5);
}

div[id*="_content"] > section:nth-child(even) > .row {
	background-color: rgb(33 37 41 / 50%);
}

section {
	min-height: 100vh;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

header a:not([class="nav-link"]) {
	color: white;
}

header > .row button {
	color: white !important;
}

.section-content {
	position: relative;
	min-height: 100vh;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-content > div[class^="col"] {
	position: relative;
	margin: auto;
}

.see-next > i {
	color: white;
	font-size: 3.5rem;
	text-align: center;
	opacity: 0.8;
}

.see-next > i:hover {
	opacity: 1;
}

.grayscale {
	filter: grayscale(100%);
	opacity: 0.6;
}

.project-legend {
	font-family: Quicksand;
	font-size: 1.1rem;
	color: white;
	text-align: center;
	border-color: black;
	margin: 3rem auto;
}

.section-title {
	font-family: 'Quicksand';
	text-transform: uppercase;
}

.img-hover-zoom {
  height: auto;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform .3s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

#templates_section img {
	height: calc(100vw / 3);
}

.carousel-container {
	text-align: center;
	overflow: hidden;
	background-color: rgba(var(--main-link-color), 0.2);
}

.carousel-gallery {
	position: relative;
	padding: 0;
}

.slide-to-left {
	-webkit-animation: slideLeft 2.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideLeft 2.5s; /* Firefox < 16 */
    -ms-animation: slideLeft 2.5s; /* Internet Explorer */
    -o-animation: slideLeft 2.5s; /* Opera < 12.1 */
    animation: slideLeft 2.5s;
}

.slide-to-right {
	-webkit-animation: slideRight 2.5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideRight 2.5s; /* Firefox < 16 */
    -ms-animation: slideRight 2.5s; /* Internet Explorer */
    -o-animation: slideRight 2.5s; /* Opera < 12.1 */
    animation: slideRight 2.5s;
}

.carousel-grid {
	text-align: center;
	padding-top: 1rem;
}

.carousel-grid img {
	width: 7rem;
	height: 4rem;
	border: 2px solid black;
	transition: border 0.1s ease-in-out;
	opacity: 0.9;
}

.carousel-grid img:hover {
	border-width: 2px;
	border-color: white;
	cursor: pointer;
	opacity: 1;
}

.carousel-grid img.active {
	border-color: rgb(var(--main-link-color));
}

.carousel-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    font-size: 2.8rem;
    color: black;
	transition: color 0.2s ease-in-out;
	z-index: 1;
}

.carousel-arrow:hover {
	color: rgb(var(--main-link-color));
	cursor: pointer;
}

.carousel-arrow.left {
    left: 2%;
}

.carousel-arrow.right {
    right: 2%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}