<footer>
	<hr/>
	<div class="row">
	<div class="col-12 col-md-4 pb-3 pb-md-0 text-center text-md-start">
		<span class="d-block">Gustavo Vasquez</span>
		<span class="text-muted">Técnico en desarrollo web</span>
	</div>
	<div class="col-12 col-md-4 pb-3 pb-md-0 text-center">
		<a href="about.html" class="animate">Acerca de mí</a>
		<br>
		<a href="contact.html" class="animate">Contacto</a>
	</div>
	<div class="col-12 col-md-4 text-center text-md-end">
		<div class="social-buttons">
			<a href="mailto:vasquez.mgustavo@gmail.com" title="Correo"><i class="bi-envelope"></i></a>
			<a href="https://github.com/gustavo-vasquez" title="Github"><i class="bi-github"></i></a>
			<a href="https://www.linkedin.com/in/gustavo-vasquez-7568b680/" title="Linkedin"><i class="bi-linkedin"></i></a>
		<div>
	</div>
</footer>